<!DOCTYPE html>
<html lang="en">
<%- include('partials/head'); %>
<body>
    <header>
        <%- include('partials/nav') %>
    </header>
    <main>
        <% if (data.length == 0) {%>
            <h1 class="display-5">Create Entry</h1>
            <form action="/entries/create" method="POST">
                <div class="input-group input-group-lg p-2">
                    <span class="input-group-text" id="inputGroup-sizing-lg">Title</span>
                    <input id="title" required name="title" type="text" class="form-control text-wrap" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
                  </div>
                  <div class="input-group mb-3 p-2">
                    <span class="input-group-text align-top" id="inputGroup-sizing-default">Text</span>
                    <textarea id="text" name="text" type="text" class="form-control text-wrap" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" style="padding-bottom: 100px;"></textarea>
                  </div>
                  <%if(userID!='') {%>
                    <input id="userID" name="userID" value="<%=userID%>" style="display: none;">
                    <button type="submit" class="btn btn-secondary">Update</button>
                    <%}%>
                    
                    
            </form>
            <% if (userID=='') {%>
              <a href="http://localhost:3000/login"><button class="btn btn-secondary" onclick="saveEntry()">Log In to create an entry</button></a>
              <%}%>
          <% }%>
          <% if (data.length > 0) {%>
              <h1 class="display-5">Edit Entry</h1>
              <form action="/entries/<%=data[0].id%>" method="POST">
                <div class="input-group input-group-lg p-2">
                    <span class="input-group-text" id="inputGroup-sizing-lg">Title</span>
                    <input id="title" required name="title" type="text" class="form-control text-wrap" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" value="<%=data[0].title %>">
                  </div>
                  <div class="input-group mb-3 p-2">
                    <span class="input-group-text align-top" id="inputGroup-sizing-default">Text</span>
                    <textarea id="text" name="text" type="text" class="form-control text-wrap" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" style="padding-bottom: 100px;"><%=data[0].text %></textarea>
                  </div>
                  <%if(userID!='') {%>
                  <input id="userID" name="userID" value="<%=userID%>" style="display: none;">
                  <button type="submit" class="btn btn-secondary">Update</button>
                  <%}%>
                  
                  
            </form>
            <%if(userID=='') {%>
              <a href="http://localhost:3000/login"><button class="btn btn-secondary" onclick="saveEntry()">Log In to edit an entry</button></a>
            <%}%>
            <%}%>
            <script>
              const saveEntry = () => {
                document.cookie = 'title';
                console.log('cookie saved');
              }
            </script>
    </main>
<%- include('partials/footer') %>
</body>
</html>
