<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
    
    <header>
        <%- include('partials/nav') %>
    </header>
    <main>
        <h1><%= data[0].name %></h1>
        <%= data[0].id %>
        <p><a href="/star?id=<%=data[0].parent_star%>">Parent Star</a></p>
    </main>
    <%- include('partials/footer') %>
</body>
</html>