<!DOCTYPE html>
<html lang="en">
<%- include('partials/head'); %>
<body>
    <header>
        <%- include('partials/nav') %>
    </header>
    <main>
            <label for="stars">Choose a planet:</label>
            <div name="stars" id="stars">
                <% if (data.length > 0) { %>
                    <% data.forEach(data => { %>
                        <p><a href="/star?id=<%=data.id%>"><%= data.name %></a></p>
                    <% }) %>
                <% } %>
            </div>
    </main>
<%- include('partials/footer') %>
</body>
</html>
